@model SSST.Models.Kelas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kelas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KelasID" />
            <div class="form-group">
                <label asp-for="KelasNama" class="control-label"></label>
                <input asp-for="KelasNama" class="form-control" />
                <span asp-validation-for="KelasNama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KelasTingkat" class="control-label"></label>
                <select asp-for="KelasTingkat" asp-items="Html.GetEnumSelectList<Tingkat>()" class="form-control"></select>
                <span asp-validation-for="KelasTingkat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KelasTahun" class="control-label"></label>
                <input asp-for="KelasTahun" class="form-control" min="2020" maxlength="4" value="2020" />
                <span asp-validation-for="KelasTahun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuruID" class="control-label"></label>
                <select asp-for="GuruID" class="form-control" asp-items="ViewBag.GuruID"></select>
                <span asp-validation-for="GuruID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
