@model List<SSST.ViewModel.LaporanKelas>

@{
    ViewData["Title"] = "Lihat Nilai Kelas";
    var listMapel = from sn in Model group sn by sn.mapel into lmapel select lmapel;

    var listSiswa = from ls in Model group ls.nilai by ls.namaSiswa into lsiswa select new { nama = lsiswa.Key, nilai = lsiswa.ToList() } ;
}


<hr />

<table style="width:100%" border="1">
    <thead>
        <tr>
            <th>Nomor</th>
            <th>Nama</th>
            @for (int item =0; item < listMapel.Count(); item++)
            { 
                <th>@listMapel.ElementAt(item).Key</th>
            }
            
        </tr>
    </thead>
    <tbody>

        @for (int item = 0; item < listSiswa.Count(); item ++)
        {
        <tr>
            <td>@(item + 1)</td>
            <td>@listSiswa.ElementAt(item).nama</td>
            @for (var isian = 0; isian < listSiswa.ElementAt(item ).nilai.Count(); isian++)
            {
                <td>@listSiswa.ElementAt(item).nilai[isian]</td>
            }

        </tr>
        }
    </tbody>
</table>


<div>
    <a asp-controller="Kelas" asp-action="Index" >Kembali ke Daftar Kelas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
