@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang di Aplikasi</h1>
    <h1 class="display-3">Sistem Seleksi Siswa Terbaik</h1>
    <p>Sistem ini merupakan aplikasi sebagai tugas akhir mata  kuliah: Rekayasa Perangkat Lunak </p>
    <h3>Dibuat oleh:</h3>
    <ol class="text-left">
        <li>Jannung Kusdiantoro</li>
        <li>Dimas Agustian</li>
        <li>Bayu Didit</li>
    </ol>
</div>
